.productFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  &_descr {
    margin-right: 30px;
    color: var(--black-color);
    margin-bottom: 0;
    white-space: nowrap;
  }
  &_btn {
    width: 75px;
    height: 30px;
    margin-left: 5px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border: none;
    background: var(--white-color);
    color: var(--black-color);
    &:hover {
      background: var(--black-color);
      color: var(--white-color);
    }
  }
  &_btn_first {
    border-radius: 4px 0px 0px 4px;
  }
  &_btn_last {
    border-radius: 0px 4px 4px 0px;
  }
  &_btn_activ {
    background: var(--black-color);
    color: var(--white-color);
  }
}