.nav__header {
  position: absolute;
  left: 180px;
  top: 52px;
  li {
    ul {
      a {
        color: var(--white-color);
      }
    }
  }
  .nav__item__activ {
    &::before {
      background-image: url("../../img/logo/coffee-transparent-white.svg");
      width: 39px;
      left: -33px;
      top: -23px;
    }
  }
}
.footer {
  margin-top: 30px;
  min-height: 140px;
  padding: 52px 0 20px 0;
  display: grid;
  justify-content: center;
  grid-row-gap: 30px;
  li {
    ul {
      a {
        color: var(--black-color);
      }
    }
  }
  .nav__item__activ {
    &::before {
      background-image: url("../../img/logo/coffee-transparent-black.svg");
    }
  }
}

.loading {
  background-color: #453232;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--white-color);
}