body {
  font-size: 12px;
  margin: 0;
  font-family: 'Merienda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

:root {
  --white-color: #fff;
  --black-color: #000;
}